<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"><a href="https://wenhuanxu1.github.io/" class="logo"><strong>Home</strong></a>
      <li class="nav-link"><a href="https://wenhuanxu1.github.io/research"><strong>Seleted articles</strong></a>
      <li class="nav-link"><a href="https://wenhuanxu1.github.io/about"><strong>My CV</strong></a>
      <li class="nav-link"><a href="https://wenhuanxu1.github.io/tutorials"><strong>News</strong></a>
      </ul>
    </nav>
  </div>
</header>
